{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "globals": {
    "env": true,
    "ENV": true,
    "sinon": true
  },
  "rules": {
    "no-var": 1,
    "eol-last": 0,
    "new-cap": 0,
    "no-console": 0,
    "strict": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-mixed-spaces-and-tabs": 0,
    "no-use-before-define": 0,
    "quotes": [
      2,
      "single"
    ],
    "comma-dangle": 1,
    "no-undef": 1,
    "no-extra-semi": 1
  }
}