<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webpack configuration</title>
    <link rel="stylesheet" href="build/bundle.css">
</head>
<body class="body" ng-app="app" ng-strict-di>
    <div class="menu">
        <span class="left">&nbsp;</span>
        content
        <span class="right">&nbsp;</span>
    </div>
    <div class="style2" ng-controller="myController as myCtrl">
        inner container
        <button ng-click="myCtrl.alertMessage()">show alert</button>
        <div ng-if="myCtrl.dataFromServer">{{myCtrl.dataFromServer | json}}</div>
        <button ng-click="myCtrl.showData()">make request</button>
    </div>
    <div class="style3">
        inner other container
        <input type="text">
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
    <script src="build/bundle.js"></script>
</body>
</html>